<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.tutomaq.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TUTORMAQ</name>
    <description>
        A TUTORMAQ é o resultado do sonho de um Brasileiro, nordestino e obstinado, Sr. Antônio Severino de Santana, um homem empreendedor, que não se deixou abater pelas adversidades que encontrou na vida.
    </description>
    <author email="suporte@skynetsites.com.br" href="https://skynetsites.com.br">
        skynet Sites
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="AppName" value="TUTORMAQ" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="26" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.7" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.3.4" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.7.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.3.4" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~6.0.0" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.3" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.6" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.2" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
        <splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
