body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}
footer{
    background-color: #1F1F2E;
    
    
}
.sessao1{
    display: flex;
    justify-content: space-between;
}
.getInTouch{
    margin-left: 50px;
}
.redeSocial{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: 40px;
}

.quickyLinks{
    padding-right: 150px;
    
}
.getImg{
    width: 30px;
    float: left;
}
::placeholder{
    padding: 20px;
}

.sessao1 div li{
    color: #fff;
}
.sessao1 div p{
    color: #fff;
}

.sessao1 h3{
    color: orangered;
}
.sessao1 a{
    text-decoration: none;
    color: #fff;
}
.sessao1 div input{
    margin-right: 0px;
    width: 400px;
    height: 40px;
    outline: none;
    
}


.sessao2{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    
}
.sessao2 p ,a{
    color: #fff;
}
span{
    color: orangered;
}
.linksFundo a{
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
}
.p{
    width: 400px;
}
#singUp{
    background-color: orangered;
    height: 600px;
    color: #fff;
}


.botaoAddress{
    background-color: #fff;

}